bold
box
cent
code
def
defel
em
img
imgr
linked
lnk
lnkr
ordered
para
sni
strong
table
tit
toc
doc/*.html
doc/*.aux
doc/Ceylan-Hull-technical-manual-english.pdf
doc/Ceylan-Hull-technical-manual-english.rst
doc/*.tex
doc/*.toc
*.log
